td.menuitem {
    text-align: center;
    background: #6363ff url(images/gradient.jpg) repeat-x 0 0;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 3px;
}

img.header {
    width: 100%;
    height: auto;
}
